
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    border: 0 none;
    overflow: hidden;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    user-select: none;
}

.content {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 640px;
    height: 100vh;
}
.event-list {
    margin-top: 80px;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 640px;
    height: 80px;
    background-color: #ccc;
    padding: 5px;
}

.inputbox {
    height: 40px;
    width: calc(100% - 10px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 4px;

}

.inputbox > input[type=text]{
    width: calc(100% - 45px);
    height: 38px;
    padding: 0;
    margin: 0;
    border: 0 none;
    box-sizing: content-box;
    background-color: inherit;
    /* background-color: #ccc; */
    font-size: 18px;
}

.inputbox > button {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 0 none;
    background-color: inherit;
    box-sizing: content-box;
    color: #999;
    font-size: 1rem;
}
.inputbox > button:active {
    color: #333;
    font-size: 1.1rem;
}


.hidden {
    display: none;
}
.event-template {
    display: none;
}

.event {
    background-color: #fff;
    margin-bottom: 0px;
    border: 1px solid #000;
    padding: 10px;
}

.event > h2 {
    margin: 0;
}

.event table,
.event th,
.event td {
    border: 1px solid #ccc;
}

.event table {
    border-collapse: collapse;
    width: calc(100% - 20px);
    margin: 10px;
}

.event th {
    width: 40%;
    padding: 10px;
}
.event td {
    padding: 10px;
}

.event td ul {
    margin: 0;
    padding-left: 15px;
}

.event .card-type,
.event .card-name,
.event .card-rank {
    color: #999;
}

@media screen and (max-width: 800px) {
    .content {
        width: 100%;
    }
    header {
        width: 100%;
    }
}
